@reference "../../app/globals.css";

.tabBar {
  /* background-color: #f5dd42; */
  @apply bg-brand-yellow;
}

.tabBar::-webkit-scrollbar {
  display: none;
}

.badge {
  background-color: #1f2937;
  color: #ffffff;
  font-size: 10px;
  padding: 0.125rem 0.375rem;
  border-radius: 9999px;
  font-weight: 700;
}
