@import '../styles/color-palette.css';
@import 'tailwindcss';

/* Light / Dark mode palette */
@media (prefers-color-scheme: dark) {
  :root {
    --palette-background: #0a0a0a;
    --palette-foreground: #ededed;
  }
}

body {
  background: var(--palette-background);
  color: var(--palette-foreground);
  font-family: var(--font-poppins);
  font-weight: 600;
}
