@import '../styles/color-palette.css';
@import 'tailwindcss';

@theme inline {
  --color-background: var(--palette-background);
  --color-foreground: var(--palette-foreground);
  --font-poppins: var(--font-poppins);
}

@media (prefers-color-scheme: dark) {
  :root {
    --palette-background: #0a0a0a;
    --palette-foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  /* Make sure using the designated font grobally*/
  font-family: var(--font-poppins);
  /* Set the default font weight to 600 (semi-bold) for all text */
  font-weight: 600;
}
